# OS
.DS_Store

# Logs
*.log
.dev/

# IDE
.vscode/
.idea/

# Node
node_modules/
**/node_modules/

# Build & cache
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
frontend/.next/
frontend/out/
frontend/.vercel/

# Env
.env
.env.*
!.env.example

# Misc
coverage/
*.tsbuildinfo
